@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=Oxygen:wght@300&family=Quicksand:wght@300;400;700&display=swap');

body {
    margin: 0;
    background-color: #FAF5EF;
}
h1, h2, h3, h4, h5, h6 {
    /* font-family: 'Quicksand', sans-serif; */
    /* font-family: 'Concert One', cursive; */
    font-family: 'Oxygen', sans-serif;
    text-transform: uppercase;
    letter-spacing: .2em;
}
p {
    font-family: 'Quicksand', sans-serif;
    line-height: 1.8em;
    font-size: 1.2em;
}
nav {
    font-family: 'Oxygen', sans-serif;
    text-transform: uppercase;
    background-color: #99C1B9;
    padding: 10px;
    letter-spacing: .2em;
}
nav a {
    display: block;
    text-align: center;
    text-decoration: none;
    color: black;
    padding: 10px 20px;
}
.logo {
    width: 20%;
    margin: 0 auto;
    display: block;
}
#logo_link {
    margin: 0 auto;
}
main {
    text-align: center;
    width: 75%;
    margin: 0 auto;
}
main img {
    width: 50%;
}
main p {
    padding: 0px 30px 0px 30px;
}
footer {
    color: black;
    padding: 10px;
    text-align: center;
    background-color: #99C1B9;
    margin-top: 10px;
}
footer p {
    font-family: 'Oxygen', sans-serif;
    text-transform: uppercase;
    letter-spacing: .2em;
    margin: 5px;
}
#logo_example {
    margin-bottom: -4px;
}

/* COLOR SCHEME */
#green {
    background-color: #99C1B9;
    color: black;
    padding: 10px;
}
#pink {
    background-color: #E0A4AF;
    color: black;
    padding: 10px;
}

/* TYPOGRAPHY */
#width {
    width: 50%;
    margin: auto;
    padding-bottom: 20px;
}

/* TARGET AUDIENCE */
#business_owner {
    padding-top: 20px;
}

/* MEDIA QUERY */
@media (min-width: 960px) {
    nav {
        display: flex;
        justify-content: space-evenly;
        font-size: 1.2em;
    }  
    #content {
        margin: auto;
    }
    nav a:hover {
        background-color: #FAF5EF;
        padding: 10px 20px;
        color: black;
        border-radius: 5px;
    }
    #logo_example {
        width: 20%;
    }
}
