@media only screen and (min-width: 35rem) {
    h1, h2, h3, h4, h5, h6 {
        font-size: 2em;
    }
    #home h3 {
        font-size: 1.5em;
    }
    .home_icon {
        font-size: 3em;
    }
    #event {
        padding: 60px 100px 20px 100px;
    }
    p {
        font-size: 1.5em;
    }
    #news a {
        font-size: 1.2em;
    }
    button {
        font-size: 1.5em;
    }
    .socials {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }
    nav {
        margin: 0 auto;
    }
    .logo {
        width: 50%;
    }
    #socials_icons {
        grid-column: 3/4;
        grid-row: 2/3;
        margin: 0 auto;
        font-size: 1.8em;
    }
    header {
        grid-template-columns: 1fr 3fr 1fr;
    }
    #hamburgerBtn {
        font-size: 4em;
    }
    .categories {
        margin: 10px;
    }
    #home {
        display: grid;
        grid-template-columns: 2fr 1fr;
        padding: 10px;
    }
    .date {
        padding: 20px;
        font-size: 1.5em;
        grid-column: 1/3;
    }
    #hero {
        grid-column: 1/3;
        grid-row: 1/2;
    }
    #news {
        grid-column: 1/3;
        grid-row: 2/3;
        margin-top: 20px;
        padding-bottom: 25px;
    }
    nav ul li:first-child a {
        padding-top: 15px;
    }
    #spotlight_div {
        grid-column: 1/3;
        grid-row: 3/4;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    #spotlight1 {
        grid-column: 1/2;
        margin-bottom: 10px;
        /* margin: 20px; */
    }
    #spotlight2 {
        grid-column: 2/3;
    }
    #join_div {
        display: block;
        grid-column: 1/3;
        grid-row: 4/5;
    }
    .logo {
        margin: auto;
    }
    #footer_logo {
        grid-column: 1/2;
        width: 100%;
        margin: 0;
    }
    #footer_logo_img {
        width: 25%;
    }
    #contact {
        grid-column: 2/3;
        margin: 0;
        border-top: none;
        border-bottom: none;
    }
    #bottom {
        grid-column: 1/3;
    }
    nav ul li.active a {
        font-size: 2em;
    }
    #join_button {
        letter-spacing: .1em;
        font-weight: bold;
        border-radius: 10px;
        text-decoration: none;
        padding: 15px 25px;
        position: absolute;
        right: 20px;
        top: 20px;
    }
    #join_button2 {
        margin-top: 15px;
    }
    .material-symbols-outlined {
        font-size: 1.5em;
        margin-left: 5px;
    }
    #join_button {
        right: 10px;
        top: 15px;
        bottom: auto;
    }
    #weather figure figcaption {
        font-size: 1.5em;
    }
    #weathericon {
        width: 80%;
    }

    /* DISCOVER */
    #visitMessage {
        grid-column: 1/3;
    }
    .pictures {
        grid-column: 1/3;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        /* padding-top: 10px; */
    }
    picture img {
        height: 150px;
    }
    .pictures p {
        text-align: center;
        /* grid-row: 2/3; */
        padding: 0px 10px;
    }
    .fair {
        grid-column: 1/2;
    }
    .art {
        grid-column: 2/3;
    }
    .butterfly {
        grid-column: 1/2;
        grid-row: 3/4;
    }

    /* JOIN */
    /* #join main {
        display: grid;
        grid-template-columns: 1fr 1fr;
    } */
    textarea {
        width: 400px;
    }
    label {
        font-size: 2em;
    }
}