@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Quicksand:wght@400;700&display=swap');
body {
    background-color: white;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Fjalla One', sans-serif;
    color: #172A3A;
    border-radius: 5px;
}
p {
    font-family: 'Quicksand', sans-serif;
    color: #172A3A;
}
img {
    border-radius: 5px;
}
div {
    border-radius: 5px;
}
header {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    /* display: flex; */
    /* justify-content: flex-end; */
    align-items: center;
    padding: 10px;
    /* gap: 10px; */
}
.msg_box {
    display: none;
    grid-column: 1/4;
    grid-row: 1/2;
    font-family: "fjalla one", sans-serif;
    font-size: 1.2em;
    text-align: center;
    padding: 10px;
    color: white;
    background-color: #185B31;
}
.logo {
    width: 70%;
    margin: 0 auto;
    display: block;
}
#logo_link {
    grid-column: 2/3;
    grid-row: 2/3;
    margin: 0 auto;
}
.socials {
    text-decoration: none;
    color: #185B31;
    font-size: 3em;
    padding-right: 10px;
}
#socials_icons {
    grid-column: 3/4;
    grid-row: 2/3;
    display: flex;
    flex-direction: column;
}
#content {
    background-color: white;
    padding: 0px 60px;
}
.date {
    background-color: #185B31;
    color: white;
    font-family: 'Fjalla One', sans-serif;
    padding: 10px;
    text-align: center;
    font-size: 1.2em;
    border-radius: 5px;
}
.categories {
    padding: 10px 10px 0px 10px;
    margin: 10px;
    text-align: center;
}
#news {
    margin-top: 10px;
}
#hero {
    padding: 0;
    border: none;
    position: relative;
    margin: 10px 0px;
}
#hero_img {
    padding: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-sizing: border-box;
}
#join_button {
    background-color: #172A3A;
    color: white;
    font-family: "Quicksand", sans-serif;
    font-size: .7em;
    font-weight: bold;
    border-radius: 10px;
    /* border: solid #185B31 5px; */
    text-decoration: none;
    padding: 10px 15px;
    position: absolute;
    right: 10px;
}
.spotlight_div {
    padding: 10px;
    height: 270px;
    margin: 10px;
}
#footer_logo {
    width: 70%;
    margin: 0 auto;
    display: block;
}

/* nav nonsense */
nav {
    grid-column: 1/2;
    grid-row: 2/3;
}
nav button{
    background: transparent;
    border: none;
    font-size: 2.7em;
    margin: 0px 0px 0px 10px;
    color: #185B31;
}
nav ul {
    list-style-type: none;
    margin: 0;
}
nav ul li a{
    display: block;
    padding: .8rem .2vw;
    text-decoration: none;
    color: white;
    font-family: 'Fjalla One', sans-serif;
    padding-left: 15px;
}
nav ul li.active a{
    background-color: white;
    color: #185B31;
    border-radius: 5px;
}
nav ul li a:hover {
    background-color: white;
    color: black;
}
nav ul {display: none;}
nav ul.open {
    display: block;
    padding-left: 0px;
}


footer p {
    text-align: center;
    font-family: "quicksand", sans-serif;
}
#contact {
    margin: 0 0 10px 0;
}
.footer_contact {
    font-family: "quicksand", sans-serif;
    font-weight: bold;
}
.footer_address {
    font-weight: bold;
}
#bottom {
    background-color: #185B31;
    color: white;
    margin: 0;
    padding: 10px;
    font-weight: bold;
    border-radius: 5px;
}
.join {
    display: none;
}

/* DISCOVER */
.pictures {
    display: flex;
    flex-direction: column;
}
picture img {
    display: block;
    width: 90%;  
    margin: 0 auto;  
}
.pictures p {
    text-align: center;
    padding: 0px 10px;
}
#visitMessage {
    text-align: center;
}

/* JOIN */
#join {
    background-color: white;
    padding: 0px 60px;
}
#join h1 {
    grid-column: 1/3;
}
form {
    margin: 40px;
    margin-top: 20px;
    grid-column: 1/2;
}
#info {
    margin: 40px;
}
#info h1 {
    margin-top: 0;
}
form input:required {
    border: red solid 5px;
}
form input:required:valid {
    border: green solid 5px;
}
label {
    font-family: 'Fjalla One', sans-serif;
    margin-bottom: 5px;
}
input {
    font-family: "quicksand", sans-serif;
    margin-bottom: 20px;
    border: black solid 5px;
    border-radius: 5px;
}
label, input {
    display: block;
    font-size: 1.5em;
}
textarea {
    font-family: "quicksand", sans-serif;
    display: block;
    height: 150px;
    width: 260px;
    border: solid black 5px;
    border-radius: 5px;
    padding: 5px 10px;
}
#radio label, input {
    display: inline;
}
#radio label {
    font-family: "quicksand", sans-serif;
    font-size: 1.2em;
}
#submit {
    padding: 15px 30px;
    background-color: #172A3A;
    color: white;
    font-weight: bold;
    margin: 20px 0px 0px 0px;
    border: none;
    /* border: #185B31 solid 5px; */
}
form p {
    margin: 0px 0px 7px 0px;
    font-weight: bold;
}

/* THANK YOU */
#thankyou {
    text-align: center;
}
#thankyou main {
    display: grid;
    grid-template-columns: 1fr;
}

/* DIRECTORY */
#directory {
    background-color: white;
    padding: 0px 60px;
}
#directory main {
    display: block;
}
main button {
    text-decoration: none;
    border: none;
    background-color: #185B31;
    color: white;
    border-radius: 5px;
    font-size: 2em;
    margin: 0px 10px 0px 10px;
}
#buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* DIRECTORY CARDS */
.cards {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
}
.cards section {
    border: 5px solid black;
    padding: 30px;
    text-align: center;
    width: 300px;
    margin: 20px;
}
h2, h1 {
    text-align: center;
}
#directory main img {
    max-height: 99px;
    min-height: 80px;
}

/* DIRECTORY TABLE */
td, th {
    padding: 5px;
}
table, td, th {
    border-top: 1px solid black;
    border-collapse: collapse;
}
tr:nth-child(odd) {
    background-color: rgb(234, 232, 232);
}
table {
    margin: 20px 40px;
    border: 1px solid black;
}

/* WEATHER */
#weather {
    background-color: #172A3A;
    color: white;
}
#weather p, #weather h2 {
    color: white;
}
#weather figcaption {
    font-family: "quicksand", sans-serif;
}

/* DISCOVER */
#discover {
    background-color: white;
    padding: 0px 60px;
}

/* CONTACT */
#contact_page {
    background-color: white;
    padding: 0px 60px;
}


/* WEATHER */
/* .weather {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 10px;
}
.weather h2 {
    margin: 10px;
    grid-column: 1/5;
}
#weather_icon {
    grid-column: 1/2;
    font-size: 3em;
    padding: 5px;
    color: #185B31;
}
.weather p {
    margin: 5px;
    font-size: 1.3em;
}
#degrees {
    grid-column: 2/3;
    font-size: 2em;
    justify-self: center;
}
#weather_text {
    grid-column: 1/3;
    grid-row: 3/4;
}
#speed {
    grid-column: 3/5;
    grid-row: 2/3;
    justify-self: center;
}
#chill {
    grid-column: 3/5;
    grid-row: 3/4;
    justify-self: center;
} */
