@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=Oxygen:wght@300&family=Quicksand:wght@300;400;700&display=swap');

/* ALL PAGES */
body {
    margin: 0;
    background-color: #FAF5EF;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Oxygen', sans-serif;
    text-transform: uppercase;
    letter-spacing: .2em;
}
p {
    font-family: 'Quicksand', sans-serif;
    line-height: 1.8em;
    font-size: 1.2em;
}
nav {
    font-family: 'Oxygen', sans-serif;
    text-transform: uppercase;
    background-color: #99C1B9;
    padding: 10px;
    letter-spacing: .2em;
}
nav a {
    display: block;
    text-align: center;
    text-decoration: none;
    color: black;
    padding: 10px 20px;
}
.logo {
    width: 50%;
    margin: 0 auto;
    display: block;
    margin-top: 5px;
}
#logo_link {
    margin: 0 auto;
}
main {
    text-align: center;
    width: 100%;
    margin: 0 auto;
}
main img {
    width: 50%;
}
main p {
    padding: 0px 30px;
}
footer p {
    font-family: 'Oxygen', sans-serif;
    text-transform: uppercase;
    letter-spacing: .2em;
    color: black;
    text-align: center;
    background-color: #99C1B9;
    padding: 20px;
    margin: 0px;
}
#footer_logo {
    width: 45%;
    display: block;
    margin: 0 auto;
}
#footer a {
    text-decoration: none;
    color: black;
}
button {
    background-color: #E0A4AF;
    color: #FAF5EF;
    font-family: "Quicksand", sans-serif;
    font-weight: bold;
    border-radius: 10px;
    text-decoration: none;
    border: none;
    padding: 10px 20px;
    letter-spacing: .1em;
}

/* HOME PAGE */
#caption {
    font-family: "quicksand", sans-serif;
    line-height: 1.8em;
    font-size: 1.2em;
    text-transform: capitalize;
}
#weathericon {
    width: 5%;
}
#home main div {
    background-color: #E0A4AF;
    background-color: #99C1B9;
    background-color: #F5ECE0;
    padding: 10px;
    margin: 20px;
    border-radius: 5px;
}

/* TEMPLES */
#temples {
    background-color: #FAF5EF;
}
#temples main {
    display: block;
}
#buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}
#card {
    margin: 5px;
    padding: 5px 20px 10px 20px;
    font-size: 2em;
}
#list {
    margin: 5px;
    padding: 5px 20px 10px 20px;
    font-size: 2em;
}

/* TEMPLES CARDS */
.cards {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
}
.cards section {
    padding: 30px;
    text-align: center;
    width: 300px;
    margin: 20px;
    background-color: #E7D4C3;
    border-radius: 5px;
}
h2, h1 {
    text-align: center;
}
#temples main img {
    max-height: 85px;
    min-height: 80px;
}

/* TEMPLES TABLE */
td, th {
    padding: 5px;
}
table, td, th {
    border-collapse: collapse;
    padding: 15px;
}
tr:nth-child(odd) {
    background-color: #E7D4C3;
}
table {
    margin: 20px auto;
}

/* MEDIA QUERY */
@media (min-width: 960px) {
    nav {
        display: flex;
        justify-content: space-evenly;
        font-size: 1.2em;
    }  
    #home {
        margin: auto;
    }
    nav a:hover {
        background-color: #FAF5EF;
        padding: 10px 20px;
        color: black;
        border-radius: 5px;
    }
}
